{% load static%}


<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="box0">
      <h1>We are Agrocentre</h1>
      <h5>Harvest||Supply||Earn</h5>
    </div>

    <div class="image">
      <img src="{%static 'images/3.jpg'%}" />
    </div>
    <div class="services">
      <h1 id="h1">Our Special Services</h1>
      <div class="pa">
        <p>Digital Doctor</p>
        <p>Crop Suggestor</p>
        <p>Pest Detector</p>
        <p>Chatbot</p>
      </div>
    </div>
    <div class="box2">
      <h3>What's different when you work with us?</h3>
      <p class="box2.2">
        We are more than a digital agro-based shopping website.<br />
        Apart from delivering quickly and effectively-Quality of services is
        always top notch. <br />
        Cost effective due to out direct trade with the harvesters.<br />
        We provide you with a platform to openly discuss your problems and
        solutions, put forward your thoughts. <br />
        Give you advises regarding your crops if needed. <br />
        We take the best<br />

        We sell you the best
      </p>
    </div>


    <div class="imgd">
      <img src="D:\iiit dwd\pro\us\about us page\dummyb.png" alt="" />
    </div>
    <div class="imgd">
      <img src="D:\iiit dwd\pro\us\about us page\dummyg.png" alt="" />
    </div>
    <div class="imgd">
      <img src="D:\iiit dwd\pro\us\about us page\dummyb.png" alt="" />
    </div>
    <div class="imgd">
      <img src="D:\iiit dwd\pro\us\about us page\dummyg.png" alt="" />
    </div>
  </body>
</html>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
